.close-button {
    position: absolute;
    top: -41px;
    right: 9px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border: none;

    font-size: 28px;
    line-height: 1;

    outline: none;
    color: white;
    cursor: pointer;
    background: transparent;
    transition: opacity 0.2s;
}

.close-button:hover {
    opacity: 0.8;
}
