.account-menu__logout {
    box-sizing: border-box;
    width: calc(100% - 32px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
    margin: 0 16px;
    padding: 12px 28px;

    border: 1px solid var(--color-account-menu-logout-border);
    border-radius: 3px;

    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 13px;
    font-weight: 600;

    color: var(--color-account-menu-logout-text);
    outline: none;
    cursor: pointer;
    background: var(--color-account-menu-logout-bg);
    transition: background-color 0.2s;
}

.account-menu__logout:hover {
    background: var(--color-account-menu-logout-bg-hover);
}
